.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it's above other elements */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
  background-color: #fff; /* Optional: Change background color */
  height: 4rem;
}
.navbar-nav .nav-link {
  color: #000000; /* Change color to white */
  font-size: 15px;
}
.navbar-nav .nav-link:hover {
  color: #3e3d38; /* Change color to white */
}

#text-over-image {
  font-family: "Playfair Display", serif;
  -webkit-text-stroke: 1px #ffffff; /* Black outline */
  font-size: 7rem; /* Adjust font size as needed */
  color: #000000;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem !important; /* Adjust font size for smaller screens */
  }
}
